.countdowntag {
	font:14px normal Arial, sans-serif;
	color:#626771;
	padding:60px;
	text-align: center;
}

.button {
	width:150px;
	height:58px;
	background-color:lightblue;
	border-style:1px solid grey;
}