.leftDiv {
	width:50%;
	height:auto;
	float:left;
}

.rightDiv {
	width:50%;
	height:auto;
	float:right;
}

.list-type1{
	width:400px;
	margin:0 auto;
}

.list-type1 ol{
	counter-reset: li;
	list-style: none;
	*list-style: decimal;
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
	padding: 0;
	margin-bottom: 4em;
}
.list-type1 ol ol{
	margin: 0 0 0 2em;
}

.list-type1 a{
	position: relative;
	display: block;
	padding: .4em .4em .4em 2em;
	*padding: .4em;
	margin: .5em 0;
	background: #A569BD;
	color: #000;
	text-decoration: none;
	-moz-border-radius: .3em;
	-webkit-border-radius: .3em;
	border-radius: 10em;
	transition: all .2s ease-in-out;
}

.list-type1 a:hover{
	background: #E8DAEF;
	text-decoration:none;
	transform: scale(1.1);
}

.list-type1 a:before{
	content: counter(li);
	counter-increment: li;
	position: absolute;
	left: -1.3em;
	top: 50%;
	margin-top: -1.3em;
	background:#E8DAEF;
	height: 2em;
	width: 2em;
	line-height: 2em;
	border: .3em solid #fff;
	text-align: center;
	font-weight: bold;
	-moz-border-radius: 2em;
	-webkit-border-radius: 2em;
	border-radius: 2em;
	color:#FFF;
}

.button {
	margin-top:15px;
	font-size: 25px;
	width: 45%;
	height: 45px;
	border: 3px solid;
}

.input {
	background-color:transparent;
	color:#80add7;
	font-size:15px;
	width: 370px;
	height: 45px;
	border: none;
	border-bottom:1px solid #80add7;
}

.inputheader {
	color:#fff;
	font-size:38px;
}